/* Simple table styling */
table {
    width: 100%; /* Sets the table width to 100% of its container */
    border-collapse: collapse; /* Collapses table borders into a single border */
    border-radius: 8px; /* Adds rounded corners to the table */
    overflow: hidden; /* Ensures inner content respects the table's rounded corners */
    border: 1px solid #ddd; /* Adds a light gray border around the table */
}

th, td {
    padding: 8px; /* Adds space around text in table headers and cells */
    text-align: left; /* Aligns the text to the left */
}

th {
    background: linear-gradient(to bottom, #2D64AC, #134F9B); /* Sets a blue gradient background for table headers */
    color: #FFFFFF; /* Sets the text color to white */
}

tbody tr {
    border-bottom: 1px solid #ddd; /* Adds a light gray border below each table row */
}

#loading-bar {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
    font-size: 18px;
    font-weight: bold;
}
